<html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
<body>
    <div class=container>
        <h1>MCLAG APP</h1>
        <h2>DEVICES</h2>
        <table style="width:100%">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Host</th>
            </tr>
            {% for device in devices %}
            <tr>
                <td>{{device.id}}</td>
                <td><a href="{% url 'device' device.id %}">{{device.name}}</a></td>
                <td>{{device.host}}</td>
            </tr>
            {% endfor %}
        </table>
        
        <br><br>

        <!-- <p>Run command:</p>
        <form method="POST"> {% csrf_token %}
        {{ form }}
        <input type="submit" value="Run command!" />
        </form>
        {% if request.POST %}
        <p>Command output:</p>
        <pre>{{ output }}</pre>
        {% endif %} -->
    </div>

</body>
</html>